/* Styles général */


.myDiv {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  padding-bottom: 100px; 
 
}
.icon{
  box-shadow: none;
}
.divparent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

 .input-wrapper {
  position: relative;
  /* width: 200px; */
  width: 50%;
}

.input-wrapper input {
    padding: 10px;
  width: 100%;
  padding-left: 30px; 
  height: 35px;
  border-radius: 20px;
  border: 1px solid #ccc;
  
}

.input-wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor:pointer;
  width: 20px;

  
}
.Head {
  background-color: #4636EA;
   background: linear-gradient(to bottom, #4636EA, white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; 
}
.Head2{
  /* align-items: center; */
    background-color: #4636EA;
   background: linear-gradient(to bottom, #4636EA, white);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 19px;
}
#symbole{
  font-weight: bold;
  font-size: 35px;
  cursor: pointer;
  padding-left: 20px;
}
.h1detail{
  
  font-weight: normal;
}
.topdivHeader{
  display: flex;
  color: white;
  /* font-weight: bold; */
  /* justify-content: space-between; */
  /* gap: 40px; */
  /* padding-right: 70px; */
  align-items: center;
  justify-content: space-between;
  padding-right: 45%;
  /* background-color: pink; */
}

.image .avatar {
   width: 40px;
  height: 40px; 
  cursor: pointer;
}
.divparticipant .avatar{
     width: 40px;
  height: 40px; 
}
.spancercle{
  width: 5px;
  height: 5px;         
  /* font-size: 90px; */
  border-radius: 50%;
  background-color: black;
  
}
.divparticipant{
  display: flex;
  align-items: center;
  gap: 10px;

}
.divprinc{
 
  display: flex;
  gap: 12px;
}

img {
  border-radius: 30%;
   box-shadow: 0 4px 8px rgba(0,0,0,0.2)
  

}

.image {
  display: flex;
  gap: 40px;
  padding-top: 25px;
}
.cardiv{
    border-radius: 20px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardiv img{
    width: 30px;
  height: 30px;
}
div .myimage{
  width: 50px;
  height: 50px;
  
}

.div1{

    display: flex;
    gap: 20px;
}

.imgcard{
    border-radius: 50%;
    padding: 25px;
   
}
.divstatus{
  /* background-color: black; */
  border-radius: 30px;
  padding: 4px;
  width: 50%;
  text-align: center;
  /* color: white */
  box-shadow:0 4px 6px rgba(0,0,0,0.3) ;
  border: solid 1px;
  
}

footer{

  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  right: 0;
  box-shadow:0 4px 4px 6px rgba(0,0,0,0.1) ;
  background-color:white;
  border-radius: 50px;
  padding: 10px;
  width: 90%;
  
 
}
.divfooter{
  display: flex;
  gap: 10px;
  padding: 10px;
}
.divfooter:hover{
  background-color: #4636EA;
  border-radius: 40px;
  cursor: pointer;
}
.iconFooter{
  width: 30px;
  height: 30px;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  
}


.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #4636EA; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media (max-width: 768px) {
    .divparent{
        align-items: center;

    }


    .input-wrapper {
        width: 80%;
        margin-left: -25px; 
        
    }
  .Head {
    flex-direction: flex;
    padding: 15px;
  }
  .Head h1{
    font-size: 16px;
    padding-top: 20px;
    
  }

  .image {
    flex-direction: flex;
    gap: 15px;
    padding-top: 15px;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }
  footer div span{
    display: none;
  }
  .divparticipant{
    font-size: small;
  }
  .topdivHeader{
    display: flex;
    justify-content: space-between;
    gap: 55px;
  }
}